body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    width: 100%;          /* 横幅を100%に */
    max-width: none;      /* 最大幅の制限を解除（もしくは適宜大きい数値に変更） */
    margin: 0 auto;       /* コンテンツを中央に寄せる（必要な場合） */
    padding: 0 20px;      /* 画面の端から余白をとる */
}

ul {
    list-style: none;
    padding-left: 0;
}